Flask==2.3.3
requests==2.31.0
beautifulsoup4==4.12.2
lxml
selenium==4.15.2
webdriver-manager==4.0.1
playwright
gunicorn==21.2.0
psycopg2-binary==2.9.9
youtube-transcript-api==0.6.1
requests==2.31.0
#python -m playwright install chromium
langdetect==1.0.9
googletrans==4.0.0rc1